---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
  - package-ecosystem: "pip"
    directories:
      - "/"
      - "/ui"
      - "/worker"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
