---
name: Lint

on: [pull_request]

permissions: { }

jobs:
  super-lint:
    name: Lint with Supper-Linter
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
          fetch-depth: 0

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: super-linter/super-linter/slim@61abc07d755095a68f4987d1c2c3d1d64408f1f9
        env:
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Fail on errors
          DISABLE_ERRORS: false
          # this is a bit too much for this repo
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_CHECKOV: false
          VALIDATE_TRIVY: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_YAML: false
          VALIDATE_KUBERNETES_KUBECONFORM: false
          VALIDATE_BIOME_LINT: false
